* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --background: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  background: var(--background);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
}

body, input, textarea, select, button {
  font: 400 1rem 'Inter', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
